<?xml version="1.0"?>

<model>
  <name>Mining_Mayhem_Field</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Yousef Awad</name>
    <email>yousefalaaawad@gmail.com</email>
  </author>

  <description>
    The field, stl given by the competition organizers, for the 2025 IEEE SouthEastCon (SEC) competition in SDF format for use with Gazebo and ROS2-Humble
  </description>
</model>
