<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">

    <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so"> <!-- differential drive plugin -->
      <update_rate>50</update_rate> <!-- sets simulation update rate -->
      <left_joint>left_front_wheel_joint left_back_wheel_joint</left_joint> <!-- left wheels -->
      <right_joint>right_front_wheel_joint right_back_wheel_joint</right_joint> <!-- right wheels -->
      <wheel_separation>0.35</wheel_separation> <!-- distance between wheels -->
      <wheel_diameter>0.08</wheel_diameter> <!-- wheel size -->
      <max_wheel_torque>5</max_wheel_torque> <!-- sets max torque -->
      <max_wheel_acceleration>3</max_wheel_acceleration> <!-- Max acceleration -->
      <odometry_frame>odom</odometry_frame> <!-- sses 'odom' frame -->
      <robot_base_frame>base_footprint</robot_base_frame> <!-- uses base footprint -->
    </plugin>
  </gazebo>

</robot>
