<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <!-- ROS 2 control Gazebo plugin -->
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <!-- Path to controller configuration YAML -->
      <parameters>$(find sec_bot)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
